@model ViewModels.JobPositionViewModels



<link rel="stylesheet" href="~/CndDashboardAssets/vendors/jquery-file-upload/uploadfile.css">

<section>
    <div class="container">
        <div class="row job-details">
            <div class="job-data-wrap w-100">
                <div class="job-data no-border">
                    <div class="company-logo col-auto">
                        <img src="~/assets/img/icons/company-1.png" alt="Company Logo">
                    </div>
                    <div class="list-content col">
                        @Html.HiddenFor(m => m.JobId, new { @Id = "JobIdentity" })
                        <h3 class="title">@Model.JobTitle</h3>
                        <ul class="meta">
                            <li><i class="fa fa-map-marker"></i>  @Model.JobLocation </li>
                            <li><i class="fa fa fa-calendar"></i> Post Date: @Model.PostedDate.Value.ToString("dd-MMM-yyyy HH:mm") </li>
                            <li><i class="fa fa-file-text-o"></i> Applications 5 </li>
                            @*<li><i class="fa fa-eye"></i> Views 165 </li>*@
                        </ul>
                    </div>
                </div>
                <hr class="mt-0 mb-5">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 job-des">
                        <h4 class="title mt-0">Job Description</h4>
                        @Html.Raw(Model.JobDescription)
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget right-bar">
                    <div class="widget border">
                        <div>
                            <button class="btn btn-save-border w-100 mb-3">
                                <i class="fa fa-heart-o pr-1"></i> Save Job
                            </button>
                            <div>
                                <div class="form-group">
                                    <label>Applied By</label>
                                    <hr class="mt-0 ">
                                    <div class="">
                                        <label class="form-check-label">
                                            
                                            <input type="radio" class="" name="AppliedByCv" id="optionsRadios1" value="false" checked>
                                            Profile
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-check-label">
                                            <input type="radio" class="" name="AppliedByCv" id="optionsRadios2" value="true" >
                                            CV Upload
                                        </label>

                                        <div class="file-upload-wrapper">
                                            <div id="fileuploader">Upload</div>
                                        </div>
                                    </div>
                                </div>
                                <span class="text-danger ApplyJobError">  </span>

                                @if (Model.IsAlreadyApplied == true)
                                {
                                    <button class="btn btn-primary w-100 disabled" disabled="disabled" id="btnAlreadApplied">Already Applied!</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary w-100" id="btnApplyJob">Apply Now</button>
                                }


                            </div>

                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title mb-3">Job Overview</h3>
                        <div class="specialism_widget" style="">
                            <div class="job-specify">
                                <p><b>Published on: </b>@Model.PostedDate.Value.ToString("dd-MMM-yyyy HH:mm")</p>
                                <p><b>Vacancy: </b>@Model.NoOfVacancy</p>
                                <p><b>Employment Status: </b>@Model.EmployementType</p>
                                <p><b>Experience: </b>@Model.MinExperinceYear  (s)</p>
                                <p><b>Job Location: </b>@Model.JobLocation</p>
                                <p><b>Salary: </b>
                                    @(Model.SalaryRange.ToString() == "0" ? "-" : Model.SalaryRange.ToString())
                                
                                </p>
                                <p><b>Gender: </b>@Model.GenderSpecification</p>
                                <p class="mb-0"><b> Application Deadline: </b> 
                                @(Model.LastDateOfJob == null ? "-" : Model.LastDateOfJob.Value.ToString("dd-MMM-yyyy"))
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<script src="~/CndDashboardAssets/vendors/moment/moment.min.js"></script>
<script src="~/CndDashboardAssets/vendors/jquery-file-upload/jquery.uploadfile.min.js"></script>
<script src="~/CndDashboardAssets/js/jquery-file-upload.js"></script>
<script src="~/Scripts/Main.js"></script>

  <script>
      @if (Model.AppliedBYCV!=null)
      {
          if (Model.AppliedBYCV == true)
          {
              <text>
      $("#optionsRadios2").prop("checked", true);
            </text>
          }
      }

      $(document).ready(function () {
          debugger;
          if ($("input[type='radio'][name='AppliedByCv']:checked").val() != "true") {
              $(".file-upload-wrapper").css('display', 'none');
          }
        
      });

      $('input[type=radio][name=AppliedByCv]').change(function () {
          
          if ($(this).val() == "true") {
              $(".file-upload-wrapper").css('display', 'block');
          }
          else if ($(this).val() == "false") {
              $(".file-upload-wrapper").css('display', 'none');
          }
      });

  </script>