@using BAL;
@model ViewModels.JobPositionViewModels

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/bundles/ThemeCss")
@Scripts.Render("~/bundles/modernizr")


<link rel="stylesheet" href="~/CndDashboardAssets/vendors/jquery-file-upload/uploadfile.css">

<div class="row col-md-12 card">


    <div class="content">

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="search_widget">
                                <div class="field_search">
                                    <input type="text" placeholder="Search Keywords">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="field_search">
                                    <input type="text" placeholder="All Locations">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="widget border">
                                <h3 class="sb-title mb-3">Specialism</h3>
                                <div class="specialism_widget" style="">
                                    <div class="simple-checkbox">
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Accountancy (2)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck2">Banking (2)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck3">UI & UX (3)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label" for="customCheck4">Digital &amp; Creative (4)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label" for="customCheck5">Estate Agency (3)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox sec-wrap">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label" for="customCheck6">Graduate (2)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                            <label class="custom-control-label" for="customCheck7">IT Contractor (7)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn form-control btn-primary ">Search Criteria</button>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="job-data-toolbar">
                            <p>@Model.ListAlljobs.Count() Open Jobs</p>
                            <p>
                                Sort by
                                <select class="form-control ml-2">
                                    <option>Lates Post</option>
                                    <option>Top Rated</option>
                                </select>
                            </p>


                        </div>

                        <div class="Job-section">
                            <div>
                                <div class="job-data-wrap">
                                    @*<a href="#" type="button" class="job-data JobDetail" value="1221" data-toggle="modal" data-target="#staticBackdrop">*@


                                    @foreach (var item in Model.ListAlljobs)
                                    {
                                        <a href="#" type="button" class="job-data JobDetail" value="@item.JobId">
                                            <div class="company-logo col-auto pl-0">
                                                <img src="~/assets/img/icons/company-1.png" alt="Company Logo">
                                            </div>
                                            <div class="list-content col">
                                                <h6 class="title"> @item.JobTitle</h6>
                                                <ul class="meta">
                                                    <li><strong class="text-primary">Artistic Milliners</strong></li>
                                                </ul>
                                            </div>
                                            <div class="list-content col">
                                                <ul class="meta">
                                                    <li><strong>Location : @item.JobLocation</strong></li>
                                                </ul>
                                            </div>
                                            <div class="list-content col-auto order-sm-3">
                                                <ul class="meta pr-3">
                                                    <li><i class="fa fa-heart-o"></i></li>
                                                </ul>
                                            </div>
                                            <div class="text-right col-auto order-sm-3 p-0">

                                                @{
                                                    var test = item.CandidateJobApplies.Where(m => m.UserId == GlobalUserInfo.UserId).Count();
                                                    if (test > 0)
                                                    {


                                                        <span class="button btn border-primary disabled" style="color: #000;">Already Applied</span>

                                                    }
                                                    else
                                                    {
                                                        <span class="button btn border-primary">Apply Now. </span>

                                                    }
                                                }


                                            </div>
                                        </a>
                                    }


                                    @*<a href="#" type="button" class="job-data JobDetail" value="1221">
                                            <div class="company-logo col-auto pl-0">
                                                <img src="~/assets/img/icons/company-1.png" alt="Company Logo">
                                            </div>
                                            <div class="list-content col">
                                                <h6 class="title">ERP Developer</h6>
                                                <ul class="meta">
                                                    <li><strong class="text-primary">Artistic Milliners</strong></li>
                                                </ul>
                                            </div>
                                            <div class="list-content col">
                                                <ul class="meta">
                                                    <li><strong>Location : Karachi-Pakistan</strong></li>
                                                </ul>
                                            </div>
                                            <div class="list-content col-auto order-sm-3">
                                                <ul class="meta pr-3">
                                                    <li><i class="fa fa-heart-o"></i></li>
                                                </ul>
                                            </div>
                                            <div class="text-right col-auto order-sm-3 p-0">
                                                <span class="button btn border-primary">FULL TIME </span>
                                            </div>
                                        </a>*@


                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Job Detail</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="JobDescriptionModal">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/ThemeOtherPagesJS")


<div class="loading" id="JobDetailLoader">Loading&#8230;</div>
