@using BAL;
@model ViewModels.JobPositionViewModels




<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                @if (Model != null)
                {

                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex flex-row flex-wrap text-center text-sm-left align-items-center">
                                <img src="~/assets/img/icons/company-1.png" alt="Job Logo" class="img-lg rounded" alt="profile" style="height: 95px; width: 95px; ">


                                <div class="col-sm-10">
                                    <h4 class="">@Model.JobTitle</h4>
                                    <p class="text-muted mb-1">No of Post: @Model.NoOfVacancy - Min required Exp: @Model.MinExperinceYear</p>

                                    <p class="text-muted mb-1">Posted Date: @Model.PostedDate.Value.ToString("dd-MMM-yyyy hh:mm tt") - Salary Range: @Model.SalaryRange</p>

                                    <p class="text-success font-weight-bold">      <label class="badge badge-success">@Model.CandidateJobApplies.Count()</label> Candidate(s) Applied</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="border-top pt-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pt-1 ps-0 text-center">
                                            Candidate Name
                                        </th>
                                        <th class="pt-1 text-center">
                                            Applied Date
                                        </th>
                                        <th class="pt-1 text-center">
                                            Applied Channel
                                        </th>
                                        <th class="pt-1 text-center">
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CandidateJobApplies)
                                    {


                                        <tr>
                                            <td class="py-1 ps-0">
                                                <div class="d-flex align-items-center">
                                                    @if (item.User.UserImage != null)
                                                    {
                                                        if (item.User.UserImage.Length > 10)
                                                        {
                                                            <img src="data:image/jpeg;base64,@item.User.UserImage.ToString().Replace(" &quot;","")" alt="profile" style="height: 50px; width: 50px; " class="img-lg rounded-circle mb-3" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/assets/img/noProfile.png" alt="profile" style="height: 50px; width: 50px; " class="img-lg rounded-circle mb-3" />
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <img src="~/assets/img/noProfile.png" alt="profile" style="height: 50px; width: 50px; " class="img-lg rounded-circle mb-3" />
                                                    }

                                                    <div class="ms-3">
                                                        <p class="mb-0">@item.User.FullName</p>
                                                        <p class="mb-0 text-muted text-small">Product Designer</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                @item.AppliedOn.Value.ToString("dd-MMM-yyyy HH:mm tt")
                                            </td>
                                            <td class="text-center">
                                                @if (item.ApplyByCV == false)
                                                {
                                                    <label class="badge badge-success">Profile</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-success">CV</label>
                                                }

                                            </td>
                                            <td class="text-center">
                                                @Html.HiddenFor(m => item.User.Id, new { @class = "CandUserId" })
                                                <a href="#" class="btn badge badge-success" onclick="DownloadCandidateResume('CV',@item.UserId.ToString())"><span class="ti-download"></span> Download CV</a>
                                                <a class="btn badge badge-info" href="@Url.Action("CandidateProfile","AllJobs",new { area="Recruiter",UserId = item.UserId})">View Profile</a>
                                                @if (item.HrShortlistings.Count() > 0)
                                                {
                                                    <button class="btn badge badge-primary ShortlistCandidate  " value="@item.JobId">Already Shortlist </button>
                                                }
                                                else
                                                {
                                                    <button class="btn badge badge-primary ShortlistCandidate" value="@item.JobId">Shortlist Candidate</button>
                                                }

                                                <button class="btn badge badge-danger">Reject Candidate</button>
                                            </td>

                                        </tr>
                                    }

                                    @if (Model.CandidateJobApplies.Count == 0)
                                    {
                                        <tr>
                                            <td colspan="4" class="text-center">No Candidates record found</td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
<form id="CandShortListCand" method="post">
    <div class="modal fade" id="ShortlistModalParent" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Shortlist for Interview</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ShortlistModalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmitShortlistCand" class="btn btn-primary">Call for interview</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="loading" id="PostLoader" >Loading&#8230;</div>
<script>
    $(document).ready(function () {
        
        $('#PostLoader').hide();
      
    });

</script>