             <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Career Portal</title>
    @*@Styles.Render("~/Content/css")*@
    
    @Styles.Render("~/bundles/ThemeCss")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap" rel="stylesheet">

    <style>
        .job-category.blue-bg:hover {
            background: #1a2e8e;
            color: #fff;
            cursor: pointer;
        }

        .blue-bg {
            color: #0f0f0f;
            background-color: #fff;
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div class="main-wrapper">
        <header class="header">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-2 logo-wrap">
                        <div class="main-logo">
                            <a href="@Url.Action("Index","Home",new { area=""})">
                                <img src="~/assets/img/logo-light.png" alt="logo" style="max-width: 202px;height: 67px;" />
                            </a>
                        </div>
                    </div>
                    <div class="col-auto d-lg-none d-flex align-items-center">
                        <button class="menu-toggle">
                            <span></span>
                        </button>
                    </div>
                    <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                        <ul>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"><a href="@Url.Action("Index","Home",null)">Home</a></li>
                            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "JobList" ? "active" : "")">

                                <a href="@Url.Action("JobList","Home",null)">Jobs</a>

                            </li>
           
                            @*<li>
                                <a href="#">Candidates</a>
                                <ul class="sub-menu">
                                    <li><a href="candidates_list.html">Candidates List</a></li>
                                    <li>
                                        <a href="candidates_single.html">Candidates Single</a>
                                    </li>
                                </ul>
                            </li>*@
      
                            @*<li><a href="contact.html">Contact Us</a></li>
                            <li class="log-menu">
                                <a href="create-job.html">+ Post a Job</a>
                            </li>*@
                        </ul>
                    </nav>
                    <div class="col-auto menu-link order-lg-3">
                        <a href="@Url.Action("RegisterUser","Account",null)" class="login-item @(ViewContext.RouteData.Values["Action"].ToString() == "RegisterUser" ? "active" : "") "><i class="fa  fa-user-plus"></i> Signup</a>
                        <span class="login-item"> / </span>
                        <a href="@Url.Action("Login","Account",null)" class="login-item @(ViewContext.RouteData.Values["Action"].ToString() == "Login" ? "active" : "")"> @(Request.IsAuthenticated== true ?"Goto Account":"Login")</a>
                    </div>
                </div>
            </div>
        </header>

        <div id="resmenu" class="resmenu-section">
            <button class="resmenu-close" data-target="#resmenu">&times;</button>
            <div class="resmenu-wrap">
                <div class="inner">
                    <div class="resmenu-user">
                        <a href="index.html">
                            <img src="~/assets/img/logo-dark.png" alt="logo" />
                        </a>
                    </div>
                    <div class="res-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="res-submenu">
                                    <span class="menu-expand">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <a href="#">Jobs</a>
                                    <ul class="sub-menu">
                                        <li><a href="job-list.html">Job List</a></li>
                                        <li><a href="job-single.html">Job Single</a></li>
                                    </ul>
                                </li>
                                <li class="res-submenu">
                                    <span class="menu-expand">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <a href="#">Employer</a>
                                    <ul class="sub-menu">
                                        <li><a href="company-list.html">Employer List</a></li>
                                        <li><a href="company-single.html">Employer Single</a></li>
                                    </ul>
                                </li>
                                <li class="res-submenu">
                                    <span class="menu-expand">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <a href="#">Candidates</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="candidates_list.html">Candidates List</a>
                                        </li>
                                        <li>
                                            <a href="candidates_single.html">Candidates Single</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="res-submenu">
                                    <span class="menu-expand">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="register.html">Sign up</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()


        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/assets/img/logo-light.png" alt="logo"  style="max-width: 202px;height: 67px;"/>
                                </div>
                                <div class="footer-about-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Quick links</h2>
                                <ul>
                                    <li><a href="create-job.html" title="">Post New Job</a></li>
                                    <li><a href="job-list.html" title="">Jobs List</a></li>
                                    <li>
                                        <a href="candidates_list.html" title="">Candidate List</a>
                                    </li>
                                    <li>
                                        <a href="company-list.html" title="">Employer List</a>
                                    </li>
                                    <li>
                                        <a href="category.html" title="">Browse Categories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Trending Jobs</h2>
                                <ul>
                                    <li><a href="job-list.html" title="">Designer</a></li>
                                    <li><a href="job-list.html" title="">UI & UX Expert</a></li>
                                    <li><a href="job-list.html" title="">Develpoer</a></li>
                                    <li><a href="job-list.html" title="">iOS Developer</a></li>
                                    <li>
                                        <a href="job-list.html" title="">Front-End Developer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Find Jobs</h2>
                                <ul>
                                    <li><a href="job-list.html" title="">US Jobs</a></li>
                                    <li><a href="job-list.html" title="">Canada Jobs</a></li>
                                    <li><a href="job-list.html" title="">UK Jobs</a></li>
                                    <li><a href="job-list.html" title="">Emplois en </a></li>
                                    <li><a href="job-list.html"> FnceJobs in Deuts</a></li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="copyright-text text-center">
                                    <p class="mb-0">© @DateTime.Now.Year Job Portal. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
 

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/ThemeJS")

    @RenderSection("scripts", required: false)

</body>
</html>
